<header class="bg-dark text-white mb-4">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-4 fw-bold opacity-75-hover"
           href="{% url 'catalog:product-list' %}">Каталог деталей</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                 href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                 href="{% url 'about' %}">О нас</a>
            </li>
          </ul>
          <div class="d-flex">
            {% if request.user.is_authenticated %}
              <a href="{% url 'accounts:profile' %}"
                 class="btn btn-outline-light me-2">Кабинет {{ user.email }}</a>
            {% else %}
              <a href="{% url 'accounts:login' %}" class="btn btn-outline-light me-2">Войти</a>
            {% endif %}
            {% if request.user.is_authenticated %}
              {% with basket=request.user.basket.first %}
                <a href="{% url 'orders:cart-view' %}"
                   class="btn btn-primary position-relative">
                  Корзина
                  {% if basket and basket.products_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ basket.products_count }}
                      <span class="visually-hidden">товаров в корзине</span>
                    </span>
                  {% endif %}
                </a>
              {% endwith %}
            {% else %}
              <a href="{% url 'orders:missing-cart' %}"
                 class="btn btn-primary position-relative">
                Корзина
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
