{% extends "base.html" %}
{% block content %}
    <div class="container mt-5 text-center">
        <h1 class="display-4 mb-4 text-center">Пароль изменен!</h1>
        <div class="text-muted small mb-1">
            Перенаправление в профиль через <span id="countdown">3</span> сек...
        </div>
        <a href="{% url 'accounts:profile' %}" class="btn btn-success w-100">В профиль</a>
    </div>
    <script>
        let countdown = 3;
        const countdownElement = document.getElementById('countdown');
        const timer = setInterval(() => {
            countdown -= 1;
            countdownElement.textContent = countdown;
            if (countdown <= 0) {
                clearInterval(timer);
                window.location.href = "{% url 'accounts:profile' %}";
            }
        }, 1000);
    </script>
{% endblock %}
