{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">

        <div class="card shadow-lg border-0 rounded-3 mx-auto"
             style="max-width: 500px">
            <div class="card-body p-4">
                <div class="p-lg-4">
                    <h1 class="display-4 mb-4 text-center">Почти готово!</h1>
                    <p class="text-muted">Проверьте вашу почту — мы отправили письмо с подтверждением.</p>
                    <div class="bg-light p-4 mb-4">
                        <p class="text-muted mb-2">В письме вы найдете:</p>
                        <ul class="list-unstyled">
                            <li class=" text-muted mb-2">1. Ссылку для активации аккаунта
                            </li>
                            <li class=" text-muted mb-2">2. Пароль для входа (можно изменить в личном кабинете)
                            </li>
                        </ul>
                    </div>
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary px-4 py-2">Понятно, спасибо!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
