/* Базовый стиль для кнопок */
.custom-rounded {
    border-radius: 50px;
}

@media (max-width: 576px) {
    .custom-rounded {
        border-radius: 1px;
    }
}

.fs-sm-6 {
    font-size: 0.875rem;
}
